<ion-view title="'Login'">
	<ion-content has-header="true">
		<div class="card" id="topofpage" ng-controller="LoginCtrl">
			<div class="item item-divider">
				<center>
					<h2><i id="loadingIcon" class="icon ion-loading-a" style="visibility:hidden" ></i></h2> {{label}}</center>

				<label class="item item-input">

					<i id="ckeck1" class="icon ion-compose"></i>
					<input type="text" style="border-radius: 8px" ng-model="user" placeholder="Username" autofocus/>
				</label>
				<p></p>
				<label class="item item-input">
					<i id="ckeck2" class="icon ion-compose"></i>
					<input type="password" style="border-radius: 8px" ng-model="pass" placeholder="Password" />
				</label>

				<p></p>

				<center>
					<button class="button button-energized" style="border-radius: 8px" style="display: block" ng-click="login()" menu-close>Login</button>
				</center>
			</div>

		</div>
		<br />
		<button class="button  button-full button-energized" ng-click="register()" menu-close>Not registered? Register Here</button>
	</ion-content>

</ion-view>









